// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*colors to use
blue--> #CAEBF2
dark grey --> #A9A9A9
watermelon -->#FF3B3F
light grey -->#EFEFEF
*/
html, body {
    margin: 0;
    height: 100%;
    font-family: Helvetica
}

#container{
	padding:20px 20px;
	background-color:#EFEFEF;
}

#logo{
	font-size: 50px;
	background-color: #A9A9A9;
	padding:3px;
	border-radius: 5px;
	text-align: center;
	border-color:black;
	color:#FF3B3F;
}

#content{
	margin: auto;
	text-align: center
}

.one{
	width:300px;
	display: inline-block;
	margin: 20px;
	text-align: center;
	margin-bottom:40px; 
	background-color: #A9A9A9;
	vertical-align: top;
	padding-top:50px;
	border-radius:5px;
	font-size: 20px;
	box-shadow: 5px 5px;
	color:white;
}

#quote{
	text-align: center;
	background-color:#A9A9A9; 
	border-bottom:10px solid white;
	border-top:10px solid white;
	margin-bottom: 20px;
}
#description{
	background-color: #EFEFEF;
}

.two{
	background-color: #A9A9A9;
	height:100px;
	width: 400px;
	display: inline-block;
	margin-left: 70px;
	text-align: center;
	border-radius: 5px;
	padding-bottom: 10px;
	border: 2px solid;
	margin-top:30px;
}

.one:hover{
	background-color: #CAEBF2;
}

.two:hover{
	background-color: #FF3B3F
}

button{
	border:none;
	background-color:#EFEFEF; 
	border-radius: 5px;
}

button:hover{
	background-color: #CAEBF2;
}

ul{
	list-style: none;
	padding:0px;
	margin:0px;
}

.register_class{
	display: block;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 40px;
	padding-left:2px;
	border-radius:5px 5px 0px 0px;
	height:60px;
	width:300px;
	background-color: #FF3B3F;
	color:white;

}

label{
	display: block;
	float:left;
	height:15px;
	padding:3px;
	overflow: hidden;
	margin-top: -13px;
	background-color: #FF3B3F;
	border:none;
}


.register_button{
	margin-left:230px;
}

.register_class input[type="text"]{
	width:90%;
	display:block;
	border:none;
	background-color: #FF3B3F;
	height:50px;
	font-size:20px;

}
.reg_sign{
	background-color: #A9A9A9;
	display:block;
	text-align: center;
	color:#FF3B3F;
	margin-bottom:-25px;
	margin-left:-3px;
	margin-right:-1px;
	font-size:10px;
	border:1px solid black;
	padding-left:3px;
	padding-right:3px;
}
#left, #middle, #right{
	display: inline-block;
	vertical-align: top;
}

#register_button{
	background-color: #FF3B3F;
	border-color:#A9A9A9;
	width:80px;
	height:50px;
	text-align: center;
	border-radius: 5px;
	display: inline;
	color:white;


}
#left{
	margin-right:50px;
}


#right{
	width:500px;
	text-align: center;
}
#login{
	width:450px;
}

#login_button{
	background-color: white;
	text-align:center;
	border:none;
	margin-left:170px;
	display:block;
}

.login_errors{
	margin-bottom: 20px;
}

#login_button:hover{
	background-color:#CAEBF2 
}

#concerns{
	height:100px;
	width:600px;
	color:#FF3B3F;
}

#login, #concerns{
	display: inline-block;
}

